[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codacy-coverage = "*"
pytest = ">=3.2.3"
pytest-cov = ">=2.5.1"
pytest-flask = ">=0.10.0"
PyYAML = ">=3.13"

[packages]
requests = "==2.21.0"
flasgger = "*"
Flask-CORS = ">=3.0.3"
authutils = "==3.0.2"
cdiserrors = "==0.1.2"
cdislogging = {editable = true,git = "https://git@github.com/uc-cdis/cdislogging.git",ref = "a58c019124d4c7596b21461e2947e4befc11d676"}
cdispyutils = ">=0.2.11"
gdcdictionary = ">=1.1.0"
datamodelutils = ">=0.4.0"
indexclient = ">=1.5.7"
psqlgraph = ">=1.2.3"
userdatamodel = ">=1.1.7"
Flask = "==0.10.1"
addict = "==2.2.0"
asn1crypto = "==0.24.0"
authlib = "==0.10"
babel = "==2.6.0"
boto3 = "==1.9.101"
botocore = "==1.12.101"
cached-property = "==1.5.1"
certifi = "==2018.11.29"
cffi = "==1.11.5"
chardet = "==3.0.4"
cryptography = "==2.5"
debtcollector = "==1.20.0"
docutils = "==0.14"
idna = "==2.8"
iso8601 = "==0.1.12"
itsdangerous = "==1.1.0"
jinja2 = "==2.10"
jmespath = "==0.9.4"
jwt = "==0.5.4"
markupsafe = "==1.1.0"
mock = "==2.0.0"
msgpack = "==0.6.1"
netaddr = "==0.7.19"
netifaces = "==0.10.9"
oslo-config = "==6.8.0"
oslo-i18n = "==3.23.0"
oslo-serialization = "==2.28.1"
oslo-utils = "==3.40.2"
pbr = "==5.1.2"
prettytable = "==0.7.2"
py = "==1.7.0"
pycparser = "==2.19"
pyjwt = "==1.7.1"
pyparsing = "==2.3.1"
pytest = "==3.0.3"
pytest-flask = "==0.10.0"
python-dateutil = "==2.8.0"
python-keystoneclient = "==1.8.1"
pytz = "==2018.9"
pyyaml = "==3.13"
rfc3986 = "==1.2.0"
s3transfer = "==0.2.0"
six = "==1.12.0"
stevedore = "==1.30.0"
urllib3 = "==1.24.1"
werkzeug = "==0.12.2"
wrapt = "==1.11.1"
xmltodict = "==0.12.0"

[requires]
python_version = "3.6"
